/* https://techforluddites.com/replacing-list-bullets-with-images-using-css/  image bullets*/
ul{
  letter-spacing: normal;
  /* line-height: normal; */
}
/* look up z-index */
div {
  display: inline-block;
}
h2 {
  text-align: left;
  text-decoration: underline;
  padding-bottom: 12px;
  font-size: x-large;
  font-weight: bold;
}
section {
  border: ridge 3px gray;
  width: 23em;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 24px;
  background: rgb(133, 39, 29);
  font-weight: bold;
  margin: 45px 5px 10px 10px;
  float: left;
}
form {
  display: block; 
  width: 350px;
}

fieldset {
  display: block;
}

input {
  display: block;
  word-break: break-all;
}

table {
  text-align: center;
  width: 50em;
  height: auto;
  background: gray;
  border: ridge 10px orangered;
  margin: 10px 0 15px 70px;
  float: left;
  
}

tr {
  height: 2.3em;
}
td {
  width: 2.3em;
}

th, td {
  border: solid 1px orangered;
}
th {
  width: 7em;
  font-weight: bolder;
}
