div {
  /* display: inline-block; */
  /* border: 5px ridge gray; */
  width: 12em;
  height: 28em;
  /* background-color: salmon; */
  font-size: 20px;
  margin: 30px;
  padding: 20px;
  line-height: 1.34em;
}
/* https://techforluddites.com/replacing-list-bullets-with-images-using-css/  image bullets*/
ul{
  letter-spacing: normal;
  /* line-height: normal; */
}

/* li {
  background: url(../images/fishCookieBullets.jpg) no-repeat left top;
  padding-left: 40px;
  padding-top: 2px;
  height: 30px;  
} */

h2 {
  text-align: left;
  text-decoration: underline;
  padding-bottom: 12px;
  font-size: x-large;
  font-weight: bold;
}
section {
  border: ridge 3px gray;
  width: 23em;
  padding-left: 20px;
  padding-top: 14px;
  padding-bottom: 24px;
  background: blue;
  font-weight: bold;
  margin: 10px 15%;
}
form {
  display: block; 
  width: 375px;
}

fieldset {
  display: block;
}

input {
  display: block;
  word-break: break-all;
}

table {
  text-align: center;
  width: 75%;
  height: 20em;
  background: gray;
  border: ridge 10px orangered;
  margin: 10px 12% 15px 12%;
}
th, td {
  border: solid 1px orangered;
}
th {
  width: 7em;
  font-weight: bolder;
}
