div {
  /* display: inline-block; */
  /* border: 5px ridge gray; */
  width: 12em;
  height: 28em;
  /* background-color: salmon; */
  font-size: 20px;
  margin: 30px;
  padding: 20px;
  line-height: 1.34em;
}
/* https://techforluddites.com/replacing-list-bullets-with-images-using-css/  image bullets*/
ul{
  letter-spacing: normal;
  /* line-height: normal; */
}

/* li {
  background: url(../images/fishCookieBullets.jpg) no-repeat left top;
  padding-left: 40px;
  padding-top: 2px;
  height: 30px;  
} */

h2 {
  text-align: center;
  text-decoration: underline;
  padding-bottom: 12px;
  font-size: x-large;
  font-weight: bold;
}